<et710-nav></et710-nav>
<alert type="success">Hello, I'm a Success Callout Alert</alert>
<my-hero></my-hero>

<hello name="{{ name }}"></hello>

<p>
  Start editing to see some magic happen :)
</p>


<ul class="vertical medium-horizontal menu">
  <li><a href="#0"><i class="fi-list"></i> <span>One</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Two</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Three</span></a></li>
  <li><a href="#0"><i class="fi-list"></i> <span>Four</span></a></li>
</ul>