<!-- Position Left -->
<div [offcanvas]="isOffcanvas"
  class="off-canvas position-left"
  id="offCanvasMenuLeft"
  aria-hidden="true"
  #offcanvasLeft="bs-offcanvas">
  <h4>Off Canvas Left</h4>
  <ul class="menu vertical">
    <li routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/components/callouts" (click)="offcanvasLeft.hide()">Callouts</a>
    </li>
  </ul>
  <button class="close-button" aria-label="Close Menu" aria-controls="offCanvasMenu" type="button" (click)="offcanvasLeft.hide()">
    <span aria-hidden="true">×</span>
  </button>
</div>